<% layout("/layouts/boilerplate") %>
 <body>
    <h3>Listing Details :</h3>

    <div class="card" >
      <% if (list.image && list.image.url) { %>
        <img src="<%= list.image.url %>" class="card-img-top show-img" alt="Listing Image">
      <% } else { %>
        <p>No Image Available</p>
      <% } %>
            <div class="card-body">
        <p class="card-text"><%= list.title %></p>
      </div>
    </div>

    <ul>
      <li><%= list.Owner.username %></li>
      <li><%= list.description %></li>
      <li> &#8377; <%= list.price%></li>
      <li><%= list.location %></li>
      <li><%= list.country %></li>
    </ul>
  <% if(currUser && currUser._id.equals(list.Owner._id)) { %>
    <div class="btns" >
      <a href="/listings/<%= list.id %>/edit">Edit this Listing</a>
      <br /><br />
      <form method="POST" action="/listings/<%=list.id%>?_method=DELETE">
        <button>Delete this listing</button>
      </form>
    </div>
    <% } %>


    <div class="col-8 offset-3">
      <h4>Leave a Review</h4>
<form action="/listings/<%= list.id %>/reviews" method="POST" novalidate class="needs-validation">
  <div>
    <label for="rating" class="form-label">Rating</label>
    <input
      type="range"
      min="1"
      max="5"
      id="rating"
      name="review[rating]"
      class="form-range"
    />
  </div>
  <div>
    <label for="comment" class="form-label">Comments</label>
    <textarea
      name="review[comment]"
      id="comment"
      cols="30"
      rows="5"
      class="form-control"
      required
    ></textarea>
    <div class="invalid-feeddback">comment </div>
    <button class="submit">Submit</button>
  </div>
  <h4>All Reviews</h4>
<ul>
  <% for (let review of list.reviews) { %>
    <li>
      <strong>Rating:</strong> <%= review.rating %><br>
      <strong>Comment:</strong> <%= review.comment %>
    </li>
  <% } %>
</ul>

</form>
     
    </div>
    
  </body>
